extends layout
block content
  script(src='/javascripts/dataReport.js')
  script(src='/javascripts/index.js')
  div.row 
    div.col-6
      canvas#lineChart(width=400,height=100)
  div.row
    div.col-xs-4 fdsfa
    div.col-xs-4 fdsfa
    div.col-xs-4 fdsfa
