extends layout
block content
  script(src='/javascripts/dataReport.js')
  script(src='/javascripts/index.js')
  div.row 
    div.col-xs-12
      canvas#lineChart(width=400,height=100)
  div.row
    div.col-xs-4
      canvas#paymenthodchart
    div.col-xs-4
      canvas#finbookchart
    div.col-xs-4
      canvas#bookpackchart
