extends layout
block content
  script(src='/javascripts/recorditems.js')
  div.row
    div.col(backgroud-color=red)
      p 时间
      input(type='text' id='rectime')
      br
      br
      p 数目
      input(type='text' id='amount')
      br
      br
      p 币种
      select(id='cur')
        option(value='CNY') CNY
      br
      br
      p 目的
      input(type='text' id='whatfor')
      br
      br
      p 账本
      div#finbook_list
      br
      br
      p 付款方式
      div#paymethods
      br
      br
      button(id='uprec') Click Me
