extends layout
block content
  h1= title
  p
  .inputdata
    时间
    br
    input(type='datetime-local' name='recTime')
    br
    br
    数目
    br
    input(type='text' name='amount')
    br
    br
    币种
    br
    select(name='cur')
      option(value='CNY') CNY
    br
    br
    分类
    br
    div#category
    select(name='cur')
      option(value='meal') 吃饭
      option(value='shopping') 购物
      option(value='daily') 日常用品
    br
    br
    付款方式
    br
    div#methods
    select(name='method')
      option(value='credit_card') 信用卡
      option(value='alipay') 支付宝
      option(value='wechat') 微信
      option(value='cash') 现金
    br
    br
    支付信息
    br
    input(type='text' name='pay_info')
    br
    br
    button(id='uprec') Click Me
